<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container-fluid d-flex">
                <!-- El siguiente bloque de código esta de forma estatica -->
                <app-nav-bar></app-nav-bar>
        <!-- El siguiente bloque de código se carga de forma dinamica -->
        <div class="container">
             <router-outlet></router-outlet>
            <!-- <app-news-list></app-news-list> -->
            <!-- <app-news-add></app-news-add> -->
        </div>
        </div>
</body>
</html>